
ul, li {
    text-align: center;
}

.login {
    float:right;
    padding: 1em;
    background-color: #282A36 ;
    text-align: right;
    color: white;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
     transition: all 0.2s;
}

.login:hover {
  color: #282A36;
  background-color: white ;
}

#login-title {
  text-align: left;
  margin-left: 0.6em;
}

.price {
  font-family: "Lato","sans-serif";
  color: white;
  font-size: 45px;
  margin-left: 80px;
}

#labelUbicacion {
    display: none;
}

#newUbicacion {
    display: none;
}

.card {
	padding: 20px 15px 20px 15px;
	background-color: white;
  color: black;
  display: inline-block;
	border-bottom: 4px solid #B6B6B6;
	border-radius: 2px;
}

.col {
	text-align: center;
	margin: 0.5%;
}

.col-2 {
	width: 15%;
}

.col-3 {
    width: 32.333%;
}

.col-4 {
	width: 40%;
}

.col-4-center {
	width: 40%;
	margin-left:30%;
	margin-right:30%;
}

.col-6 {
	min-width: 45%;
	max-width: 45%;
	display: inline-block;
}
.col-6-center {
	min-width: 45%;
	max-width: 45%;
		margin-left:30%;
	margin-right:30%;
	display: inline-block;
}

.col-8 {
	width: 52.333%;
}

.col-12 {
	min-width: 90%;
	max-width: 95%;
}

.right {
	float: right;
}

.container {
  font-family: "Lato","sans-serif";
  font-size: 17px;
}

.field {
  font-family: "Lato","sans-serif";
  float: left;
  clear: left;
  width: 80%;
  padding: 1em;
  font-size: 17px;
  line-height: 1.6;
  display: inline-block;
	font-weight: bold;
}

.user-data {
	text-align: left;
	margin-top: 5%;
}

.icon {
	margin-right: 10px;
}

header {
   height: 60px;
   margin-top: 0;
   margin-bottom: 1em;
}

body {
  margin-top: 0;
  background-image: url("img/fondo.jpeg");
	background-repeat: no-repeat;
  background-attachment: fixed;
 	background-position: center;
	background-size: cover;
}

a {
  text-decoration: none;
  font-family: "Lato","sans-serif";
  color: #003366;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #003366;
    text-align: center;
    font-family: "Lato","sans-serif";
}

section img {
    margin: 0px 15px 15px 0px;
    float: left;
    display: inline-block;
    height: 250px;
    width: 250px;
    background-position: 50%;
}

nav {
    text-align: center;
    font-weight: 500;
    font-family: "Lato","sans-serif";
}

header i {
  margin-top: 0;
  float: left;
  z-index: 500;
}
header h1  a i{
  margin-top: 0;
  float: right;
  z-index: 500;
  color: white;
}


.title {
  text-align: center;
  height: auto;
  color: white;
  font-weight: 100;
  background-color: #003366;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato","sans-serif";
  font-size: 35px;
  width: 350px;
  border-radius: 10px;
}

h2 {
   font-size: 35px;
   font-weight: 200;
   text-align: center;
   height: auto;
   color: black;
   margin-left: auto;
   margin-right: auto;
   font-family: "Lato","sans-serif";
}

h1 {
    font-weight: bolder;
}
section h1 {
  width: 250px;
  text-decoration: underline;
}

.menuday {
    font-size: 28px;
    text-decoration: underline;
    text-shadow: 2px 2px #497198;
}

section {
  opacity: 0.95;
  margin: 1%;
  border-radius: 16px;
  word-wrap: break-word;
  background-color: #5c8dbd;
  display: inline-table;
  padding: 20px 15px 20px 15px;
  border-bottom: 4px solid #497198;
  width: 40%;
}

p {
  display: inline;
  color: white;
  font-family: "Lato","sans-serif";
  font-size: 17px;
  line-height: 1.6;
}

footer {
   position:absolute;
   right: 0;
   opacity: 0.95;
   left: 0;
   bottom: 0;
   width:96.5%;
   height:40px;
}

img {
   display: block;
   margin: 0 auto;
   border-radius: 25px;
   padding:0.5em;
}

nav ul {
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

nav ul li {
  display:inline-block;
  margin-right: -4px;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
   transition: all 0.2s;
}


/*------------------------------*/
/*Sub-menu*/
nav > ul > li:hover > ul {
  display:block;
  height:470%;
  width: auto;
  background: #FFF;
}
nav > ul > li:hover > ul li{
  background: #FFF;
  color: #003366;
}

 nav > ul > li:hover > ul li a {
  color: #003366;
}
nav ul li ul li:hover {
  background: #003366;
  color: #FFF;
}

nav ul li ul li:hover a {
  color: white;
  background-color:#003366;
}
nav > ul > li > ul {
  display:block;
  position:absolute;
  left:0;
  right:0;
  overflow:hidden;
  height:0%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
nav ul li ul{
  background-color: #fff;
  z-index: 500;
  padding: 0;
}
nav ul li ul li{
width: 100%;
}

nav > ul li a {
  display:block;
  line-height:20px;
  padding:20px;
  position: relative;
  text-align:center;
  text-decoration:none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > a span {
  display:block;
  height:100%;
  width:100%;
  left:0;
  position:absolute;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > a span .icon {
  display:block;
  line-height:60px;
}

nav > ul > li > a:hover > span {
  top:0;
  background-color: #003366;
}
 /*---------------------*/
 ul li:hover {
  background: #003366;
  color: #FFF;
}

ul li:hover a {
  color: white;
}

nav li.first{
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
}

nav li.last{
    border-top-right-radius:15px;
   border-bottom-right-radius:15px;
}

table {
    font-family: "Lato","sans-serif";
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-bottom: 3em;
    border-collapse:collapse;
}

table caption {
  padding-bottom: 1em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 1em;
  text-align: center;
  background-color: #003366;
  color: white;
}

td {
    text-align: center;
    width: 10em;
    border: 0.1em #c2c2c2 solid;
    padding: 1em;
}

tr {
  height: 1em;
}

.selected {
  background-color: #e1dddd;
}

.action-button
{
	padding: 5px 20px;
  margin-left: 1em;
  margin-right: 1em;
	border-radius: 10px;
	font-family: "Lato","sans-serif";
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
}

.centered {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
}

.active:hover
{
   opacity: 0.9;
}

.disabled {
  background-color: grey;
  border-bottom: 5px solid grey;
  color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;  /* Stay in place */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal h3 {
  font-weight: 200;
  color: #003366;
  -webkit-font-smoothing: antialiased;
  margin-top: 0em;
  font-family: "Lato","sans-serif";
  font-size: 30px;
}

.modal label {
  font-family: "Lato","sans-serif";
  font-size: 15px;
  height: 2.1em;
  margin-bottom: 10px;
}

.modal input {
  border: 1px solid #CCC;
  font-size: 0.9em;
}

#login-submit {
  margin-left: 1em;
  margin-top: 1em;
}

.forgot {
  color: #3084BB;
  text-decoration: none;
  padding-top: 1em;
  padding-left: 1em;
  float: left !important;
}

.modal-content {
  margin-top: 15%;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato","sans-serif";
  box-shadow: 0px 0px 2px #CCC;
  border-radius: 16px;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 2em;
}

.login-content {
    width: 25%;
}

.abm-content {
  width: 40%;
}

.abm-content label {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
}

.abm-content input, select {
  width: 50%;
  height: 2.1em;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: left;
  display: inline-block;
  margin-right: 10%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.abm-content input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
}

.login-content input{
  height: 2.1em;
  border-radius: 4px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2px;
  text-align: left;
  display: block;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.modal-content input[type="text"]:focus,input[type="password"]:focus{
  border-color:#3aabf0;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(58,171,240,0.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(58,171,240,0.6)
}

.modal-content input[type="submit"]{
  text-align: center;
  width: 100px;
  height: 2.8em;
  margin: 0 auto;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  background: #003366;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.4s;
  border:none;
  box-shadow: 2.5px 2.5px 2.5px #888888;
  font-weight:bold;
}

.modal-content input[type="submit"]:hover {
  background: white;
  color: #003366;
}

.login-content input{
  vertical-align: bottom;
  position: relative;
  padding: 0;
}

.close {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.config input[type="text"],input[type="img"]{
  display: inline-block;
}

.config input[type="text"]{
  width: 50%;
  height: 2.1em;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: left;
  display: inline-block;
  margin-right: 10%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.config .estilotextarea {border: 2px solid #003366;
  border-radius: 15px;
}

.config input[type="file"] {
  border: 2px solid #003366;
  box-shadow: 2.5px 2.5px 2.5px #888888;
  font-weight:bold;

}

.config input[type="submit"]{
  text-align: center;
  width: 100px;
  height: 2.8em;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  margin-left: 40%;
  margin-right: 50%;
  background: #003366;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.4s;
  border:none;
  box-shadow: 2.5px 2.5px 2.5px #888888;
  font-weight:bold;
}

.flash {
	padding:	.3em .4em;
	margin: 0 auto .5em;
	min-height: 40px;
	text-align: center;
	border-bottom: 3px solid;
}

.flash.success {
	background-color: #159906;
	border-bottom-color: #158109;
}

.flash.error {
	background-color: #D32F2F;
	border-bottom-color: #961F1F;
}

.flash > p {
	color: white;
}

.flash .close {
    float:	right;
}

.flash .close a {
    color:				#f00;
    text-decoration:	none;
}

ul.pagination {
    background-color: white;
    display: inline-block;
    padding: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    border: 1px solid #ddd;
    transition: background-color .3s;
    border-radius: 5px;
    color: #003366;
    float:left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a:hover {background-color: #003366; color: white}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 1400px) and (min-width: 1082px) {
  footer {
      position: relative;
  }
}

@media only screen and (max-width: 1082px) and (min-width: 908px) {
    section {
      width:94%;
    }
    header h1 {
      font: 40px "Lato","sans-serif";
    }
    section h1 {
    	font: 60px "Lato","sans-serif";
    }
    section p {
    	font: 13px "Lato","sans-serif";
        line-height: 1.6;
    }
    footer {
        position: relative;
    }
}

@media only screen and (max-width: 907px) and (min-width: 721px) {
  section {
    width:94%;
  }
  h1 {
    font: 30px "Lato","sans-serif";
  }
  input {
    width: 80%;
    height: 1em;
    margin-bottom: 0px;
  }
  label {
      visibility: hidden;
      display: none;
  }
  footer {
      position: relative;
  }
}

@media only screen and (max-width: 720px) {
  section {
    width:94%;
  }
  h1 {
    font: 25px "Lato","sans-serif";
  }
  input {
    width: 80%;
    height: 1em;
    margin-bottom: 0px;
  }
  label {
    visibility: hidden;
    display: none;
  }
  footer {
      position: relative;
  }
}
