{% extends "layout.twig" %}

{% block contenido %}

<div class="container">

	<div class="main-header">
		<span class="icon">
			<i class="fa fa-list fa-lg"></i>
		</span>
		<h2 class="title">Cuotas Inpagas</h2>
		<a href="exportar_cuotas_impagas" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i>Exportar a pdf</a>
	</div>
	<div class="listado">
		{% include 'listados/_cuotas.twig' with { 'listado' : listado } %}
	</div>
</div>	

{% endblock contenido %}