{% extends "layout.twig" %}

{% block contenido %}

<div class="container">

	<div class="main-header">
		<span class="icon">
			<i class="fa fa-list fa-lg"></i>
		</span>
		<h2 class="title">Alumnos con Matricula Paga</h2>
		<a href="exportar_matriculados" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i>Exportar a pdf</a>
	</div>
	<div class="listado">
		{% include 'alumnos/_index.twig' with {'alumnos' : listado, 'editable' : false} %}
	</div>
</div>	

{% endblock contenido %}