		<form id="recorridos_form" action="alumnos/recorridos" method="post">
<table>
	<thead class="table-header">
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
		</tr>
	</thead>
	<tbody>
		{% for proyecto in proyectos %}
			<tr class="table-data-row">
				<td>
						<a href="/proyectos/show/{{ proyecto.id }}">{{ proyecto.nombreProyecto }}</a>
				</td>
				<td>{{ proyecto.descripcion }}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<div class="right">

	
</div>
</form>