{% extends "layout.twig" %}

{% block contenido %}
    <h1 class="title" id="listado">Productos con Stock Minimo</h1>
{% include 'listados/_index.twig' with {'productos' : productos} %}
{% include 'listados/stockMinimo/pagination.twig' with {'pagesCount' : pagesCount} %}
{% endblock %}
