{% extends "layout.twig" %}

{% block contenido %}

    <section class="center">
    	<h3>Factura </h3>
            <form method="post" action="/compras/factura" enctype="multipart/form-data">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
            <input type="file" id="myFileMenu" name="myFileMenu" accept="image/*">
            <input type="hidden" name="idCompra" id="idCompra" value="{{compra.id}}">
        <input type="submit" value="Confirmar"/>
      </form>
    </section>

{% endblock %}