<table summary="Tabla de menues del buffet">
<tr>
  <th id="dia">Fecha</th>
  <th id="menu">Habilitado</th>
  <th id="ver">Ver Productos</th>
{% for menu in menus %}
<tr>
  <td>{{ menu.fecha | date('Y-m-d') }}</td>
  <td>{{ menu.habilitado }}</td>
  <td><a href="{{ baseUrl() }}/menu/show?fecha={{ menu.fecha | date('Y-m-d') }}" title="Ver"><i class="fa fa-eye"></i></a></td>
</tr>
{% endfor %}
</table>
