<table summary="Tabla de menues del buffet">
<tr>
  <th id="dia">Fecha</th>
  <th id="menu">Men&uacute;</th>
  <th id="menu">Habilitado</th>
  <th id="detalles">Productos</th>
{% for menu in menus %}
<tr>
<td id='algo' style="display:none;">{{ compra.id }}</td>
  <td>{{compra.proveedor}}</td>
  <td>{{compra.proveedor_cuit}}</td>
  <a href="menu/show?id={{ menu.id }}" title="Ver"><i class="fa fa-eye"></i></a>
</tr>
{% endfor %}
</table>
