<form action="#" method="post">
	<input type="hidden" name="_METHOD" value="DELETE"/>
	<input type="hidden" name="id_usuario" value="{{ usuario.id }}">
	<input type="hidden" name="id_responsable" value="{{responsable.id}}">
	<input type="submit" value=" Desasignar" style="cursor: inherit;">
</form>