<table summary="Tabla de usuarios del buffet">
	<tr>
		<th id="Nombre">NOMBRE</th>
		<th id="MiembroDesde">DOCUMENTO</th>
	</tr>
		{% for usuario in usuarios %}
		  <tr id="{{ usuario.id }}" onclick="setId()">
				<td>{{ usuario.usuario }}</td>
				<td>{{ usuario.documento }}</td>
			</tr>
		{% endfor %}
	</table>
