<form class="inline-form" action="/alumnos/{{ id }}" method="post">
	<input type="hidden" name="_METHOD" value="DELETE" />
	<span class="btn btn-danger">
		<i class="fa fa-trash-o fa"></i>
		<input id="delete" type="submit" value="{{ value }}">
	</span>
</form>