{% import 'helpers/form_helper.twig' as forms %}

<form id="alumnos_new" action="/alumnos/new" method="POST">
	
	<div class="input-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="field" name="nombre" required>
		<br />
	</div>
	
	<div class="input-group">
		<label for="apellido">Apellido</label>
		<input type="text" class="field" name="apellido" required>
		<br />
	</div>

	<div class="input-group">
		<label for="tipo_documento">Tipo documento</label>
		<input type="text" class="field" name="tipo_documento" required>
		<br />
	</div>

	<div class="input-group">
		<label for="numero_documento">Numero documento</label>
		<input type="number" class="field" name="numero_documento" required>
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_nacimiento">Fecha de Nacimiento</label>
		<input type="datepicker" name="fecha_nacimiento">
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_ingreso">Fecha de Ingreso</label>
		<input type="datepicker" name="
		fecha_ingreso" required>
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_egreso">Fecha de egreso</label>
		<input type="datepicker" name="fecha_egreso">
		<small>* No obligatorio</small>
		<br />
	</div>

	<div class="input-group">
		<label for="sexo">Sexo</label>
		<input type="radio" name="sexo" value="masculino">Masculino
		<input type="radio" name="sexo" value="femenino">Femenino
		<br />
	</div>

	<div id="direccion">
		<div class="input-inline">
			<br />
			<label for="calle">Calle</label>
			<input id="calle" type="text" name="calle" required>
			<label for="numero">Numero</label>
			<input id="numero" type="text" name="numero" required>
			<br>
		</div>

		<ul id="suggestions" class="dropdown-menu">
		</ul>
		<br />

		<input id="latitud" name="latitud" type="hidden" >
		<input id="longitud" name="longitud" type="hidden">
	</div>

	<div id="markerMap"></div>
	<br />
	
	<div class="input-group">
		<label for="email">Email</label>
		<input type="text" name="email" required>
		<br>
	</div>

	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Crear Alumno"/>
	</span>
</form>