{% extends 'layout.twig' %}

{% block contenido %}	

<div class="container">
	<div class="col col-12 listado formulario">
		<div class="container">
			<a href="/alumnos"><i class="fa fa-chevron-left icon"></i>Atras</a>
			<h2 class="title">
				Nuevo Alumno
			</h2>
			{% include 'alumnos/_new.twig' %}
		</div>
	</div>
</div>

{% endblock %}