{% extends "layout.twig" %}

{% block contenido %}
    <h1 class="title" id="listado">Productos Faltantes</h1>
{% include 'listados/_index.twig' with {'productos' : productos} %}
{% include 'listados/faltantes/pagination.twig' with {'pagesCount' : pagesCount} %}
{% endblock %}
