body {
	background:	url("../img/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
	background-attachment: fixed;
}

.content {
	margin: 25px;
}

.jumbotron {
	min-height: 100%;
	background-color: none;
}

.form-inline > .panel-heading {
	background-image: none;
	background:	url("../img/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
	color: white;
}

.nav.nav-tabs {
	margin-top: 10px;
}

#datatable {
	display: none;
}

#chart-container {
	display: none;
	margin: 20px 0 auto;
	min-width: 310px; 
	height: 400px; 
}

#calendar {
	margin: 10px 0 10px 0;
}

#calendar-container {
	display: none;
}