<form action="" method="POST">
	
	<div class="input-group">
		<label for="nombre">Nombre</label>
		<input type="text" name="nombre" required>
	</div>
	
	<div class="input-group">
		<label for="apellido">Apellido</label>
		<input type="text" name="apellido" required>
	</div>
	
	<div class="input-group">
		<label for="fecha_nacimiento">Fecha Nacimiento</label>
		<input type="datepicker" name="fecha_nacimiento" required>
	</div>
	
	<div class="input-group">
		<label for="sexo">Sexo</label>
		<input type="radio" name="sexo" value="masculino">Masculino
		<input type="radio" name="sexo" value="femenino">Femenino
	</div>

	<div class="input-group">
		<label for="tipo">Tipo</label>
		<input type="radio" name="tipo" value="padre">Padre
		<input type="radio" name="tipo" value="madre">Madre
		<input type="radio" name="tipo" value="tutor">Tutor
	</div>
	
	<div class="input-group">
		<label for="email">Email</label>
		<input type="text" name="email" required>
	</div>
	
	<div class="input-group">
		<label for="telefono">Telefono</label>
		<input type="number" name="telefono" required>
	</div>
	
	<div class="input-group">
		<label for="direccion">Direccion</label>
		<input type="text" name="direccion" required>
	</div>
	
	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Crear Responsable"/>
	</span>
</form>