<form action="" method="POST">
	<select name="id_responsable">
		{% for responsable in responsables %}
			<option value="{{ responsable.id }}">{{ responsable.nombre }} {{ responsable.apellido }}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Asignar Responsable"/>
	</span>
</form>