{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col-6 form-centered">
		<div class="listado">
			<div class="container">
				<a href="/alumnos/{{ alumno.id }}"><i class="fa fa-chevron-left icon"></i>Atras</a>
				<h2 class="title">
					Cuota:  {{ cuota.mes | e }} / {{ cuota.anio | e }}
				</h2>
				{% include 'cuotas/_edit.twig' %}
			</div>
		</div>
	</div>
</div>

{% endblock %}