<p class="text-info">Ingrese el año en cual quiere el informe de ingresos:</p>
<form id="submit-ingresos" class="form-inline col-md-offset-2" role="form">
  <div class="form-group">
    <label for="anio_ingreso">Año:</label>
    <input type="text" name="anio_ingreso" class="form-control" id="anio_ingreso">
  </div>
  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>  Buscar</button>
</form>

<div id="chart-container"></div>