{% extends "layout.twig" %}

{% block contenido %}
  <script type="text/javascript">
$(function () {
    Highcharts.chart('container',{{json|json_encode|raw}});
  })
  </script>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <section>
  <i class="fa fa-bars" aria-hidden="true"></i>

  <table summary="Tabla de gastos del buffet">
  <tr>
    <th id="Gastos">Gasto</th>
    <th id="Descripcion">Descripcion</th>
  </tr>

  {% for venta in ventas %}<i class="fa fa-bars" aria-hidden="true"></i>
  <tr>
    <td>{{venta.name}}</td>
    <td>{{venta.y}}</td>
  </tr>
  {% endfor %}

  </table>
  </section>
{% endblock %}
