{% include 'components/header.twig' %}

	{% block contenido %}
		<div class="col col-6 card">
		<h2 class="title">
			{{ msj }}
		</h2>
		</div>
	{% endblock %}

{% include 'components/footer.twig' %}