{% extends "layout.twig" %}

{% block contenido %}

  <br>
  <h1 class="title" id="listado">Men&uacute; semanal</h1>
      <div class="centered">
  <a id="editar" href="#" class="action-button shadow animate disabled">Editar</a>
</div>
  <table summary="Tabla de menus del buffet">
  <tr>
    <th id="dia">D&iacute;a</th>
    <th id="menu">Men&uacute;</th>
  </tr>
  <tr>
    <td>Lunes</td>
    <td>Milanesa con papas fritas</td>
  </tr>
  <tr>
    <td>Martes</td>
    <td>Sopa</td>
  </tr>
  <tr>
    <td>Miércoles</td>
    <td>Filet de Merluza con pur&eacute;</td>
  </tr>
  <tr>
    <td>Jueves</td>
    <td>Ensalada mixta</td>
  </tr>
  <tr>
    <td>Viernes</td>
    <td>Sanguche de bondiola</td>
  </tr>
  </table>

{% endblock %}