{% extends "layout.twig" %}

{% block contenido %}
    <div id="new" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Nuevo Pedido</h3>
        <label for="newPedido">Producto: </label>
        <input type="text" id="newPedido" maxlength="20" placeholder="Producto" required/>
        <label for="newQuantity">Cantidad: </label>
        <input type="number" id="newQuantity" min="0" step="1" placeholder="Cantidad pedida" required />
        <label for="newHour">Hora de entrega: </label>
        <input type="time" id="newHour" required />
         <br><br>
        <input type="submit" value="Agregar"/>
      </form>
    </div>
    <div id="edit" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Editar Pedido</h3>
        <label for="editPedido">Producto: </label>
        <input type="text" id="editPedido" maxlength="20" value="Sanguche de bondiola" required/>
        <label for="editQuantity">Cantidad: </label>
        <input type="number" id="editQuantity" min="0" step="1" value="4" required />
        <label for="editHour">Hora de entrega: </label>
        <input type="time" id="editHour" value="13:00" required  />
        <br><br>
        <input type="submit" value="Modificar"/>
      </form>
    </div>
    <div id="delete" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
          <h4> ¿Realmente desea eliminar este pedido?</h4><br>
        <input type="submit" value="Confirmar"/>
      </form>
    </div>
    <br>
  <h1 class="title" id="listado">Pedidos</h1>
  <a id="eliminar" href="#" class="action-button shadow animate disabled">Eliminar</a>
  <a id="editar" href="#" class="action-button shadow animate disabled">Editar</a>
  <a id="nuevo" href="#" class="action-button shadow animate green active" onclick ="mostrar('new')" onkeypress="mostrar('new')" role="button">Nuevo</a>
  <table summary="Tabla de pedidos del buffet">
  <tr>
    <th id="Producto">Producto</th>
    <th id="Cantidad">Cantidad</th>
    <th id="entrega">Hora de entrega</th>
  </tr>
  <tr>
    <td>Menú del día</td>
    <td>14</td>
    <td>12:00</td>
  </tr>
  <tr>
    <td>Sanguche de bondiola</td>
    <td>5</td>
    <td>13:30</td>
  </tr>
  <tr>
    <td>Tostado de JyQ</td>
    <td>7</td>
    <td>13:00</td>
  </tr>
  </table>
{% endblock %}