
{% extends "layout.twig" %}

{% block contenido %}
    <div id="new" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Nuevo producto</h3>
        <label for="newProductName">Nombre: </label>
        <input type="text" id="newProductName" maxlength="20" placeholder="Nombre" required />
        <label for="newMarkName">Marca: </label>
        <input type="text" id="newMarkName" maxlength="20" placeholder="Marca" required />
        <label for="newBarcode">Código: </label>
        <input type="text" id="newBarcode" maxlength="20" placeholder="Código" required />
        <label for="newStockAct">Stock actual: </label>
        <input type="number" id="newStockAct" value="0" placeholder="Stock actual" required/>
        <label for="newStockMin">Stock mínimo: </label>
        <input type="number" id="newStockMin" placeholder="Stock mínimo" required />
        <label for="newCategory">Categoría: </label>
        <select id="newCategory" required>
         <option value="" selected="selected">Seleccione</option>
         <option value="food">Alimento</option>
         <option value="drink">Bebida</option>
         <option value="library">Librería</option>
        </select>
        <label for="newProviderName">Proovedor: </label>
        <input type="text" id="newProviderName" maxlength="20" placeholder="Proovedor" required />
        <label for="newPrice">Precio venta: </label>
        <input type="number" id="newPrice" min="0" step="0.5" placeholder="Precio de venta unitaria" required />
        <br><br>
        <input type="submit" value="Agregar"/>
      </form>
    </div>
    <div id="edit" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Editar producto</h3>
        <label for="editProductName">Nombre: </label>
        <input type="text" id="editProductName" maxlength="20" placeholder="Nombre" value="Café" required />
        <label for="editMarkName">Marca: </label>
        <input type="text" id="editMarkName" maxlength="20" placeholder="Marca" value="Nescafé" required />
        <label for="editBarcode">Código: </label>
        <input type="text" id="editBarcode" maxlength="20" placeholder="Código" value="2392310" required />
        <label for="editStockAct">Stock actual: </label>
        <input type="number" id="editStockAct" placeholder="Stock actual" value="12" required />
        <label for="editStockMin">Stock mínimo: </label>
        <input type="number" id="editStockMin" placeholder="Stock mínimo" value="3" required />
        <label for="editCategory">Categoría: </label>
        <select id="editCategory" required>
         <option value="" selected="selected">Seleccione</option>
         <option value="food">Alimento</option>
         <option value="drink">Bebida</option>
         <option value="library">Librería</option>
        </select>
        <label for="editProviderName">Proovedor: </label>
        <input type="text" id="editProviderName" placeholder="Proovedor" value="Arcor" required />
        <label for="editPrice">Precio venta: </label>
        <input type="number" id="editPrice" min="0" step="0.5" placeholder="Precio de venta unitaria" value="55" required />
        <br><br>
        <input type="submit" value="Modificar"/>
      </form>
    </div>
    <div id="delete" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
          <h4> ¿Realmente desea eliminar este producto?</h4><br>
        <input type="submit" value="Confirmar"/>
      </form>
    </div>
    <br>

    <br>
  <h1 class="title" id="listado">Listado de Productos</h1>
    <div class="centered">
  <a id="eliminar" href="#" class="action-button shadow animate disabled">Eliminar</a>
  <a id="editar" href="#" class="action-button shadow animate disabled">Editar</a>
  <a id="nuevo" href="#" class="action-button shadow animate green active" onclick ="mostrar('new')" onkeypress="mostrar('new')" role="button">Nuevo</a>
</div>
  <table summary="Tabla de productos del buffet">
  <tr>
    <th id="Nombre">NOMBRE</th>
    <th id="Marca">MARCA</th>
    <th id="Stock">STOCK</th>
    <th id="Vencimiento">FECHA DE VENCIMIENTO</th>
  </tr>
  <tr>
    <td>Caf&eacute;</td>
    <td>Dolca</td>
    <td>100</td>
    <td>12/06/2018</td>
  </tr>
  <tr>
    <td>Bizcochos</td>
    <td>Don Satur</td>
    <td>30</td>
    <td>10/09/2017</td>
  </tr>
  <tr>
    <td>Alfajor</td>
    <td>Capit&aacute;n del espacio</td>
    <td>300</td>
    <td>05/10/2016</td>
  </tr>
  <tr>
    <td>Chocolate</td>
    <td>&Aacute;guila</td>
    <td>250</td>
    <td>01/04/2019</td>
  </tr>
  </table>
    </body>
</html>
{% endblock %}