{% extends "layout.twig" %}

{% block contenido %}

    <br>
  <h1 class="title" id="listado">listado de Stock Minimo</h1>
  <table summary="Tabla de stock minimo del buffet">
  <tr>
    <th id="Producto">Producto</th>
    <th id="Stockminimo">Stock minimo</th>
  </tr>
  <tr>
    <td>Caf&eacute;</td>
    <td>20</td>
  </tr>
  <tr>
    <td>Bizcochos</td>
    <td>30</td>
  </tr>
  <tr>
    <td>Alfajor</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Chocolate</td>
    <td>10</td>
  </tr>
  </table>
{% endblock %}