<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Buffet - FI</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/modal.js"></script>
        <script type="text/javascript" src="js/abm.js"></script>
        <script type="text/javascript" src="js/products.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="img/icon.png"/>
    </head>
    <body>
    <header>
      <h1>Buffet de la Facultad de Informática UNLP <a href="config"><i class="fa fa-cog" aria-hidden="true"></i></a></h1>
      <a href="index" class="login">Logout</a>
    </header>
    <nav>
        <ul>
           <li class="first" ><a href="logedIndex">Inicio</a></li>
           <li><a href="productos">Productos</a> </li>
           <li><a href="usuarios">Usuarios</a> </li>
           <li><a href="menu">Menú</a> </li>
           <li><a href="pedidos">Pedidos</a> </li>
           <li><a href="ventas">Ventas</a> </li>
           <li><a href="#">Balance</a>
                <ul>
                   <li><a href="productosFaltantes">Productos Faltantes</a> </li>
                   <li><a href="stockMinimo">Stock Minimo</a> </li>
                   <li><a href="balanceIngresos">Ingresos</a> </li>
                   <li><a href="balanceGastos">Gastos</a> </li>
                </ul></li>
           <li class="last"><a href="">Acerca de</a> </li>
       </ul>
    </nav>
