<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Buffet - FI</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script type="text/javascript" src="js/modal.js"></script>
        <script type="text/javascript" src="js/abm.js"></script>
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="img/Icon.ico"/>
    </head>
    <body>
      <header>
        <h1>Buffet de la Facultad de Informática UNLP
          {% if session.user is not null %}
            <a href="config"><i class="fa fa-cog" aria-hidden="true"></i></a>
          {% endif %}
       </h1>
    {% if session.user is not null %}
      <a href="/logout" class="login">Logout</a>
    </header>
    <nav>
        <ul>
           <li class="first" ><a href="/">Inicio</a></li>
           <li><a href="productos">Productos</a> </li>
           <li><a href="usuarios">Usuarios</a> </li>
           <li><a href="menu">Menú</a> </li>
           <li><a href="pedidos">Pedidos</a> </li>
           <li><a href="ventas">Ventas</a> </li>
           <li><a href="#">Balance</a>
                <ul>
                   <li><a href="productosFaltantes">Productos Faltantes</a> </li>
                   <li><a href="stockMinimo">Stock Minimo</a> </li>
                   <li><a href="balanceIngresos">Ingresos</a> </li>
                   <li><a href="balanceGastos">Gastos</a> </li>
                </ul></li>
           <li class="last"><a href="">Acerca de</a> </li>
       </ul>
    </nav>
    <br>
     {% else %}
       <a href="#" onclick ="mostrar('modelLogin')" onkeypress="mostrar('modelLogin')" class="login" role="button">Login</a>
     </header>
     <div id="modelLogin" class="modal">
     <form method="post" action="index.php" class="modal-content login-content">
       <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
       <h3 id="login-title">Login</h3>
       <input type="text" placeholder="Ingresar Usuario" name="username" id="user" title="Usuario" required>
       <input type="password" placeholder="Ingresar password" name="pass" id="password" title="Password" required>
       <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
       <input type="submit" id="login-submit" name="submit" value="Ingresar" onkeypress="logued()" role="button" >
     </form>
     </div>
     <br>
    {% endif %}
    {% if flash is not empty %}
      {% include 'components/messages.twig' %}
    {% endif %}
