<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cooperadora Escuela Primaria Anexa</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<script language="JavaScript" type="text/JavaScript">
function preguntar(x,y){
   eliminar=confirm("¿Deseas eliminar este registro?");
   if (eliminar)
   //Redireccionamos si das a aceptar
     window.location.href = String(y) + String(x); //página web a la que te redirecciona si confirmas la eliminación
else
  //Y aquí pon cualquier cosa que quieras que salga si le diste al boton de cancelar
    alert('No se ha podido eliminar el registro...');
}


</script>
</head>
<body>
	<header>
		<nav>
			<div class="nav acciones">
				<ul>
					<li><a href="/"><img class="logo" src="/assets/img/LogoUNLP-cl.png" alt="UNLP Logo"></a></li>
					<li class="nav-left"><a href="/alumnos">Alumnos</a></li>
					<li class="nav-left"><a href="/cuotas">Cuotas</a></li>
					<li class="nav-left"><a href="/usuarios">Usuarios</a></li>
					<li class="nav-right">
						<div class="modal">
					        <input id="modal__trigger" type="checkbox">
					        {% if session is null %}
					        <label for="modal__trigger">{{ session }}</label>
					        <div class="modal__overlay">
								<div class="modal__wrap">
									
									<div class="container">
										<label class="right toggle-modal" for="modal__trigger">&#10006;</label>
										<form action="/login" method="POST">
											<div class="col-12 listado">
												<h2 class="title">Login</h2>
												<div class="input-group">
													<label for="name">Nombre de usuario</label>
													<input type="text" name="name" required><br>
												</div>
												<div class="input-group">
													<label for="password">Password</label>
													<input type="text" name="password" required><br>
												</div>
												<input class="btn" type="submit">
													
											</div>
										</form>	
									</div>							
								</div>
					        </div>
					    </div>
					</li>
					{% else %}
					<li class="nav-right"><a href="#">Logout</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>