{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-12 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-folder"></i>
			</span>
		</h2>
		<form action="insert" method="POST">

			<p><span class="field">Año: </span><input type="number" name="anio" min="1" max="4000" value="2015" required><br></p>
			<p><span class="field">Mes: </span><select name="mes">
			  <option value="1">Enero</option>
			  <option value="2">Febrero</option>
			  <option value="3">Marzo</option>
			  <option value="4">Abril</option>
			  <option value="5">Mayo</option>
			  <option value="6">Junio</option>
			  <option value="7">Julio</option>
			  <option value="8">Agosto</option>
			  <option value="9">Septiembre</option>
			  <option value="10">Octubre</option>
			  <option value="11">Noviembre</option>
			  <option value="12">Diciembre</option>
			</select></p>
			<p><span class="field">Numero: </span><input type="number" name="numero" min="1" max="99999999999"><br></p>
			<p><span class="field">Monto: </span><input type="number" name="monto" min="1" max="99999999999"><br></p>
			<input type="radio" name="tipo" value ="mensual" checked>Mensual<br>
			<input type="radio" name="tipo" value="matricula" >Matricula<br>
			<p><span class="field">Comision cobrador: </span><input type="number" name="comco" min="1" max="99999999999"><br></p>
			<input class="btn" type="submit" value="Submit">

		<form>
	</div>

</div>

{% endblock %}