		<form id="recorridos_form" action="alumnos/recorridos" method="post">
<table>
	<thead class="table-header">
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr class="table-data-row">

				<td>
						<a href="/item/show/{{ item.id }}">{{ item.nombreItem }}</a>
				</td>
				<td>{{ item.descripcion }}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<div class="right">

	
</div>
</form>